canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
body {
    background-color: #f1f1f1;
    margin: 0;
}

.header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.banner_area{
    position: relative;
    width: 100%;
    height: 100%;
}
#banner {
    height: calc(100vw / 6.2 - 1px);
    background-color: black;
}
#banner_img {
    width: 100%;
    height: calc(100vw / 6.2 - 1px);
    object-fit: cover;
}
#profile_area {
    position: relative;
    display: flex;
}
#profile_container {
    width: 100%;
    padding: 16px 107px 4px;
    position: relative;
    z-index: 1;
    min-width: 0;
}
@media (min-width: 1304px) {
    #profile_inner {
        margin: auto;
    }
}

@media (min-width: 300px) {
    #profile_container {
        padding: 10px 5px 5px 15px;
        background-color: #f9f9f9;
    }

    #tab_menu_container {
        padding: 0 0 1px 10px;
    }
}
#profile_inner {
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
}
#profile_img {
    width: 70px;
    height: 70px;
    margin: 0 24px 0 0;
    flex: none;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
}
#profile_photo_src {
    width: 70px;
    object-fit: cover;
}

#profile_name_container {
    flex: 1;
    align-items: center;
    min-width: 150px;
}

#name {
    display: inline;
    font-weight: 400;
    color: #030303;
    font-size: 24px;
    align-items: center;
}

#birthday_date {
    font-size: 14px;
    color: #606060;
    font-weight: 400;
    letter-spacing: normal;
    align-items: center;
}

#menu_bar {
    height: 48px;
    padding: 0;
    background-color: #f9f9f9;
}
#tab_menu_container {
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    white-space: normal;
    overflow: hidden;
    flex: 1 1 auto;
    padding: 0 0 1px 140px;
}
#tab_menu_inner {
    position: absolute;
    white-space: nowrap;
    height: 100%;
    flex-basis: auto;
}

@media (min-width: 640px) {
    #tab_menu_container {
        margin-left: calc(50% - 642px - 56px);
    }
}
@media (max-width: 1200px) {
    #tab_menu_container {
        margin: auto;
        padding-left: 20px;
    }
}

.tab_menu_btn {
    height: 100%;
    padding: 0 32px;
    font-size: 13px;
    vertical-align: middle;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 1;
    color: #606060;
}
.tab_menu_btn.on {
    color: #030303;
}
#selectionBar {
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid black;
    transform-origin: left center;
    /*transform: translateX(0%) scaleX(0.0815935);*/
    transform: translateX(0%) scaleX(0.15);
    border-bottom-width: 2px;
}
@media (max-width: 1400px) {
    .main_container {
        flex: 1;
        justify-content: flex-start;
        padding-bottom: 0;
        padding-left: 140px;
    }
}
@media (min-width: 1400px) {
    .main_container {
        flex: 1;
        justify-content: flex-start;
        padding-bottom: 0;
        padding-left: calc(50% - 550px);
    }
}
@media (max-width: 1250px) {
    .main_container {
        flex: 1;
        justify-content: flex-start;
        padding-bottom: 0;
        padding-left: 50px;
    }
}
@media (max-width: 640px) {
    .main_container {
        flex: 1;
        justify-content: flex-start;
        padding-bottom: 0;
        margin: auto;
    }
}

.main_container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    min-height: calc(100vh - 56px - 48px - 16px);
}

#top_inner {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 24px 0 24px;
}
#top_thumbnail {
    flex: none;
    width: 246px;
    height: 138px;
    margin-right: 16px;
    display: block;
    position: relative;
    background-color: black;
}

span {
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    padding: 3px 4px;
    border-radius: 2px;
    height: 12px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    background-color: #030303;
}
@media (max-width: 460px) {
    #top_contents {
        display: inline-block;
    }
    #top_text_container {
        margin-top: 5px;
    }
}
@media (min-width: 460px) {
    #top_contents {
        display: flex;
    }
}
#top_text_container {
    max-width: 600px;
    min-width: 0;
    text-decoration: none;
    flex: 1;
    display: flex;
    flex-direction: column;
}
#top_title_info {
    flex-direction: row;
    position: relative;
}
#top_title {
    font-weight: 400;
    font-size: 18px;
}
#top_writer{
    font-size: 13px;
    color: #606060;
}
#top_description_text {
    font-size: 13px;
    padding-top: 8px;
    margin-bottom: 8px;
    display: block;
    max-height: 1.8rem;
    overflow: hidden;
    color: #606060;
}

#recent_title_container {
    margin-top: 24px;
}
#recent_title {
    font-size: 16px;
}

.divider {
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid lightgray;

}

#recent_contents_container {
    margin-top: 24px;
}
#recent_projects_list {
    position: relative;
    overflow: hidden;
    transform: translateX(0px);
    margin-bottom: 24px;
    transition-duration: 0.15s;
    display: inline-block;
    white-space: nowrap;
}

#recent_first {
    padding-right: 4px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#recent_first_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#recent_first_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#recent_first_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#recent_first_detail_date {
    font-size: 13px;
    color: #606060;
}
@media (max-width: 420px) {
    #recent_second {
        display: none;
    }
    #popular_second {
        display: none;
    }
}
@media (min-width: 420px) {
    #recent_second {
        padding-right: 4px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 210px;
    }
    #popular_second {
        padding-right: 4px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 210px;
    }
}
#recent_second {
    padding-right: 4px;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#recent_second_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#recent_second_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#recent_second_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#recent_second_detail_date {
    font-size: 13px;
    color: #606060;
}
@media (max-width: 620px) {
    #recent_third {
        display: none;
    }
    #popular_third {
        display: none;
    }
}
@media (min-width: 620px) {
    #recent_third {
        padding-right: 4px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 210px;
    }
    #popular_third {
        padding-right: 4px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 210px;
    }
}
#recent_third {
    padding-right: 4px;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#recent_third_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#recent_third_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#recent_third_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#recent_third_detail_date {
    font-size: 13px;
    color: #606060;
}
@media (max-width: 820px) {
    #recent_fourth {
        display: none;
    }
    #popular_fourth {
        display: none;
    }
}
@media (min-width: 820px) {
    #recent_fourth {
        padding-right: 4px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 210px;
    }
    #popular_fourth {
        padding-right: 4px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 210px;
    }
}
#recent_fourth {
    padding-right: 4px;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#recent_fourth_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#recent_fourth_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#recent_fourth_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#recent_fourth_detail_date {
    font-size: 13px;
    color: #606060;
}
@media (max-width: 1040px) {
    #recent_fifth {
        display: none;
    }
    #popular_fifth {
        display: none;
    }
}
@media (min-width: 1040px) {
    #recent_fifth {
        padding-right: 4px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 210px;
    }
    #popular_fifth {
        padding-right: 4px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 210px;
    }
}
#recent_fifth {
    padding-right: 4px;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#recent_fifth_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#recent_fifth_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#recent_fifth_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#recent_fifth_detail_date {
    font-size: 13px;
    color: #606060;
}

#popular_title_container {
    margin-top: 24px;
}
#popular_title {
    font-size: 16px;
}

#popular_contents_container {
    margin-top: 24px;
}
#popular_projects_list {
    position: relative;
    overflow: hidden;
    transform: translateX(0px);
    margin-bottom: 24px;
    transition-duration: 0.15s;
    display: inline-block;
    white-space: nowrap;
}

#popular_first {
    padding-right: 4px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#popular_first_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#popular_first_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#popular_first_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#popular_first_detail_date {
    font-size: 13px;
    color: #606060;
}
#popular_second {
    padding-right: 4px;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#popular_second_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#popular_second_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#popular_second_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#popular_second_detail_date {
    font-size: 13px;
    color: #606060;
}
#popular_third {
    padding-right: 4px;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#popular_third_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#popular_third_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#popular_third_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#popular_third_detail_date {
    font-size: 13px;
    color: #606060;
}

#popular_fourth {
    padding-right: 4px;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#popular_fourth_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#popular_fourth_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#popular_fourth_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#popular_fourth_detail_date {
    font-size: 13px;
    color: #606060;
}

#popular_fifth {
    padding-right: 4px;
    vertical-align: top;
    white-space: normal;
    width: 210px;
}
#popular_fifth_thumbnail {
    height: 118px;
    width: 210px;
    display: block;
    position: relative;
    flex: none;
    background-color: #030303;
}
#popular_fifth_detail_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}
#popular_fifth_detail_description {
    color: black;
    margin: 8px 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 16px;
}
#popular_fifth_detail_date {
    font-size: 13px;
    color: #606060;
}
